<h3>Kural Ekle</h3>
<hr>
<div >
  <form (ngSubmit)="onSubmit()">
  
    <mat-vertical-stepper [linear]="1" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fonksiyon Seçiniz</ng-template>
          <mat-form-field >
            <mat-label>Fonksiyon</mat-label>
              <mat-select formControlName="firstCtrl"  required>
                <mat-option *ngFor="let command of commands" [value]="command.name">
                  {{command.name}}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Parametreleri Seçiniz</ng-template>
          <mat-form-field class="chip-list">
            <mat-label>Parametreler</mat-label>
           <!--angular material -chips-->
        
              <mat-chip-list #chipList >
                <mat-chip
                  *ngFor="let param of parameters"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(param)">
                  {{param}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input 
                  
                  #paramInput
                  [formControl]="parameterCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)">

              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let param of filteredParameters | async" [value]="param">
                  {{param}}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Statements</ng-template>
          <mat-form-field class="statements-area">
            <mat-label>Statement</mat-label>
            <textarea matInput  formControlName="statementCtrl" ></textarea>
              
                
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>


      <mat-step>
        <ng-template matStepLabel>Tamamla</ng-template>
        <p>Kural eklemeyi tamamla.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset();reset()">Reset</button>
          <button mat-button type="submit">DONE</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>