<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Employee Registration</title>
</head>
<body>

<h1>Employee Registration</h1>
<form action="#" method="post">
    <br>
    <br>
    <label for="identityNumber">id number</label><br>
    <input type="number" min="10000000000" max="99999999999" name="identityNumber" id="identityNumber"> <br>
    <label for="firstName">name</label><br>
    <input type="text"first name="firstName" id="firstName"><br>
    <label for="lastName">last name</label><br>
    <input type="text" name="lastName" id="lastName"><br>

    <br>
    <input type="submit" value="Submit">


</form>
</body>
</html>