<h3>Çalışan Ekle</h3>
<hr>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="name">SİCİL NO. :</label>
        <input type="text" class="form-control" id="id" required [(ngModel)]="employee.id" name="emailId">
      </div>
    <div class="form-group">
      <label for="name">AD :</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">
    </div>
    <div class="form-group">
      <label for="name">SOYAD :</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName" name="lastName">
    </div>
    <div class="form-group">
      <label for="name">MEDENİ DURUM :</label>
      <input type="number" class="form-control" id="isMarried" required [(ngModel)]="employee.isMarried" name="isMarried">
    </div>
    <div class="form-group">
      <label for="name">ES CALISIYOR :</label>
      <input type="number" class="form-control" id="isSpouseWorking" required [(ngModel)]="employee.isSpouseWorking" name="isSpouseWorking">
    </div>
    <div class="form-group">
      <label for="name">ÇOCUK SAYISI :</label>
      <input type="number" class="form-control" id="countChildren" required [(ngModel)]="employee.countChildren" name="countChildren">
    </div>
    <div class="form-group">
      <label for="name">VERGİ DİLİMİ :</label>
      <input type="number" class="form-control" id="taxBands" required [(ngModel)]="employee.taxBands" name="taxBands">
    </div>

    <button type="submit" class="btn btn-success">Onayla</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
