<div class="panel panel-primary">
  <div class="panel-heading ">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h2>Payroll List </h2>
        </div>

        <div class="col-sm">
          <button mat-icon-button (click)="reloadPayroll()" class="float-right" matTooltip="Refresh">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">

    <div class="example-action-buttons">
      <button mat-button (click)="accordion.openAll()">Expand All</button>
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sicil No.</th>
          <th>Ad-Soyad</th>
          <th>Bordro Tipi</th>
        </tr>
      </thead>
    </table>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let payroll of payrolls">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{payroll.payroll.accountId}}
          </mat-panel-title>
          <mat-panel-title>
            {{payroll.payroll.firstName +" "+ payroll.payroll.lastName}}
          </mat-panel-title>
          <mat-panel-title>
            {{payroll.payroll.payrollType}}
          </mat-panel-title>
          <mat-icon>attach_money</mat-icon>

        </mat-expansion-panel-header>

        <div *ngFor="let params of payroll.parameterList">
          <mat-label>{{params.parameterName + "=" +params.parameterValue}}</mat-label>

        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>