<h3>Kural Güncelle</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="ruleid">Kural :</label>
      <input type="text" class="form-control" id="ruleid" required [(ngModel)]="rule.command.commandName" name="ruleid"
        disabled>
    </div>
    <div><b>Variables(table/column)</b></div>
    <mat-divider></mat-divider>
    
    <div *ngFor="let variable of rule.variables">
      <mat-label>{{variable.locatedTable +"/"+ variable.locatedColumn}}</mat-label>
    </div>

    <div><b>Statements</b></div>
    <mat-divider></mat-divider>
    <div *ngFor="let state of rule.statements">
      <mat-label>{{state.line}}</mat-label>
    </div>
    
   

    <button mat-icon-button matTooltip="Kurallar listesi" (click)="backToList()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button type="submit" class="btn btn-success">Güncelle</button>
  </form>
</div>