<h2>Çalışan Bilgileri</h2>

<hr/>
<div *ngIf="employee">
  <div>
    <label><b>Sicil No. : </b></label> {{employee.id}}
  </div>
  <div>
    <label><b>Ad : </b></label> {{employee.firstName}}
  </div>
  <div>
    <label><b>Soyad: </b></label> {{employee.lastName}}
  </div>
  <div>
    <label><b>Medeni Durum: </b></label> {{employee.isMarried}}
  </div>
  <div>
    <label><b>Eş Çalışıyor: </b></label> {{employee.isSpouseWorking}}
  </div>
  <div>
    <label><b>Çocuk Sayısı: </b></label> {{employee.countChildren}}
  </div>
  <div>
    <label><b>Vergi Dilimi: </b></label> {{employee.taxBands}}
  </div>
  <div>
    <label><b>Bordro Şablonu: </b></label> {{employee.salary_template}}
    <button mat-icon-button  matTooltip="Kuralları Gör"  (click)="addRule()"><mat-icon>arrow_forward</mat-icon></button>
  </div>

</div>

<br>
<br>
<button mat-icon-button  matTooltip="Çalışanlar listesi" (click)="backToList()"><mat-icon>arrow_back</mat-icon></button>

<button  class="btn btn-primary">Bordroyu Çalıştır</button><br>

